body {
	background-color: black;
}

button {
  background-color: #ee2e31;
  color: black;
  font-weight: 900;
}

h1 {
  color: #ee2e31;
  font-weight: 900;
}

.hidden {
  display: none;
}

hr {
  color: #ee2e31;
}

label {
  color: #ee2e31;
  font-weight: 500;
}

p {
  color: #ee2e31;
  font-weight: 700;
}

#showTrivia {
  font-size: larger;
  color: #ee2e31;
  font-weight: 700;
}