.answerOptions {
  color: #04a777;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
}

#beginGame {
  background-color: #d90368;
  color: #291720;
  font-weight: 900;
  margin: auto;
  display: flex;
  font-size: 1.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: #291720;
}

#correctAnswers {
  color: #fb8b24;
  font-size: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#errorResponse {
  color: #04a777;
  font-weight: 900;
  font-size: 2.5rem;
}

#finalAnswerResult {
  color: #04a777;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
}

#gameOver {
  color: #fb8b24;
  font-weight: 900;
  font-size: 10rem;
  text-align: center;
}

#gameScore {
  color: #fb8b24;
}

#guessAnswer {
  background-color: #d90368;
  color: #291720;
  font-weight: 900;
  margin: auto;
  display: flex;
  font-size: 1.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #04a777;
  font-family: monospace;
  font-size: 6rem;
  text-align: center;
}

h2 {
  color: #fb8b24;
  font-weight: 700;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 3rem;
}

h3 {
  font-family: monospace;
  color: #04a777;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

h5 {
  color: #04a777;
  font-weight: 700;
  font-size: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
  display: none;
}

hr {
  border: 2px solid #d90368;;
}

#incorrectAnswers {
  color: #fb8b24;
  font-size: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#nextQuestion {
  background-color: #d90368;
  color: black;
  font-weight: 900;
  margin: auto;
  display: flex;
  font-size: 1.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#questionsRemaining {
  color: #fb8b24;
  font-size: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#quitButton {
  background-color: #d90368;
  color: black;
  font-weight: 900;
  margin: 5px;
  margin: auto;
  display: flex;
  font-size: 1.75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#result {
  text-align: flex;
  color: #04a777;
  font-weight: 900;
  font-size: 2.5rem;
  font-family: monospace;
}

#scoreNumbers {
  color: #d90368;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

#scoreAnalysis {
  color: #04a777;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
}

#scoreTally {
  text-align: center;
}

#triviaAnswer {
  color: #d90368;
  font-weight: 500;
  text-align: center;
}

.triviaForm {
  text-align: center;
}

#triviaQuestion {
  color: #d90368;
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
}
