#beginGame {
  background-color: #3a7ca5;
  color: black;
  font-weight: 900;
}

body {
	background-color: black;
}

#finalAnswerResult {
  color: #3a7ca5;
  font-weight: 700;
}

#gameOver {
  color: #3a7ca5;
  font-weight: 900;
  font-size: xx-large;
}

#guessAnswer {
  background-color: #3a7ca5;
  color: black;
  font-weight: 900;
  margin: 5px;
}

h1 {
  color: #3a7ca5;
  font-weight: 900;
}

h2 {
  color: #3a7ca5;
  font-weight: 700;
}

h4 {
  color: #3a7ca5;
  font-weight: 700;
}

h5 {
  color: #3a7ca5;
  font-weight: 700;
}

.hidden {
  display: none;
}

hr {
  border: 2px solid #3a7ca5;
}

label {
  color: #3a7ca5;
  font-weight: 600;
}

#nextQuestion {
  background-color: #3a7ca5;
  color: black;
  font-weight: 900;
  margin: 5px;
}

p {
  color: #3a7ca5;
  font-weight: 500;
}

#result {
  text-align: flex;
  color: #3a7ca5;
  font-weight: 500;
}

#triviaCards {
  color: #3a7ca5;
  font-weight: 500;
}
