.answerOptions {
  color: #04a777;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
}

#beginGame {
  background-color: #d90368;
  color: #291720;
  font-weight: 900;
  text-align: center;
  margin: auto;
  display: flex;
  height: 50px;
  width: 15%;
  font-size: 30px;
}

body {
	background-color: #291720;
}

.buttonText {
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#correctAnswers {
  color: #fb8b24;
  font-size: 2vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.triviaForm {
  text-align: center;
}

#errorResponse {
  color: #3a7ca5;
  font-weight: 500;
}

#finalAnswerResult {
  color: #04a777;
  font-weight: 700;
  text-align: center;
  font-size: 3vw;
}

#gameOver {
  color: #fb8b24;
  font-weight: 900;
  font-size: 4.5vw;
  text-align: center;
}

#gameScore {
  color: #fb8b24;
}

#guessAnswer {
  background-color: #d90368;
  color: #291720;
  font-weight: 900;
  text-align: center;
  margin: auto;
  display: flex;
  height: 50px;
  font-size: 30px;
  width: fit-content;
  font-family: monospace;
}

h1 {
  color: #04a777;
  font-family: monospace;
  font-size: 6vw;
  text-align: center;
}

h2 {
  color: #fb8b24;
  font-weight: 700;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 3vw;
}

h3 {
  font-family: monospace;
  color: #04a777;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
}

h4 {
  color: #3a7ca5;
  font-weight: 700;
}

h5 {
  color: #04a777;
  font-weight: 700;
  font-size: 2vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
  display: none;
}

hr {
  border: 2px solid #d90368;;
}

#incorrectAnswers {
  color: #fb8b24;
  font-size: 2vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

label {
  color: #3a7ca5;
  font-weight: 600;
}

#nextQuestion {
  background-color: #d90368;
  color: black;
  font-weight: 800;
  margin: 5px;
  text-align: center;
  margin: auto;
  display: flex;
  height: 50px;
  font-size: 30px;
  width: fit-content;
}

p {
  color: #d90368;
  font-weight: 500;
}

#questionsRemaining {
  color: #fb8b24;
  font-size: 2vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#quitButton {
  background-color: #d90368;
  color: black;
  font-weight: 900;
  margin: 5px;
  text-align: center;
  margin: auto;
  display: flex;
  height: 50px;
  font-size: 30px;
  width: fit-content;
}

#result {
  text-align: flex;
  color: #04a777;
  font-weight: 900;
  font-size: 2.5vw;
  font-family: monospace;
}

#scoreNumbers {
  color: #d90368;
  font-weight: 700;
  text-align: center;
  font-size: 3vw;
}

#scoreAnalysis {
  color: #04a777;
  font-weight: 700;
  text-align: center;
  font-size: 3vw;
}

#scoreTally {
  text-align: center;
}

#triviaAnswer {
  color: #d90368;
  font-weight: 500;
  text-align: center;
}

#triviaQuestion {
  color: #d90368;
  font-weight: 900;
  text-align: center;
  font-size: 2vw;
  font-family: monospace;
}
