#beginGame {
  background-color: #3a7ca5;
  color: black;
  font-weight: 900;
}

body {
	background-color: black;
}

#guessAnswer {
  background-color: #3a7ca5;
  color: black;
  font-weight: 900;
  margin: 5px;
}

h1 {
  color: #3a7ca5;
  font-weight: 900;
}

h3 {
  color: #3a7ca5;
  font-weight: 700;
}

.hidden {
  display: none;
}

hr {
  border: 2px solid #3a7ca5;
}

label {
  color: #3a7ca5;
  font-weight: 600;
}

p {
  color: #3a7ca5;
  font-weight: 500;
}

#triviaCards {
  border: 2px solid white;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: flex;
  color: #3a7ca5;
  font-weight: 500;
}
