body {
	background-color: black;
}

button {
  background-color: #3a7ca5;
  color: black;
  font-weight: 900;
}

h1 {
  color: #3a7ca5;
  font-weight: 900;
}

h3 {
  color: #3a7ca5;
  font-weight: 700;
}

.hidden {
  display: none;
}

hr {
  border: 2px solid #3a7ca5;
}

label {
  color: #3a7ca5;
  font-weight: 600;
}

p {
  color: #3a7ca5;
  font-weight: 500;
}

#triviaCards {
  border: 2px solid #3a7ca5;
}

#triviaQuestions {
  color: #3a7ca5;
  font-weight: 500;
}
